It's firmly established science that the Earth is warming, but that does not mean that the warming is uniform in time. I would like to calculate the mean temperature departure for each month to determine if warming has been more significant in some months over others. I will start with one location, but the process can be generalized to multiple locations.

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

whitestown = pd.read_csv("C:\csv\whitestownweather.csv")

cols = ['DATE', 'TMAX', 'TMIN']
whitestown = whitestown[cols]
whitestown.head()

         DATE  TMAX  TMIN
0  1901-01-01  20.0  -4.0
1  1901-01-02  21.0 -12.0
2  1901-01-03  28.0  -6.0
3  1901-01-04  40.0   3.0
4  1901-01-05  35.0  18.0

I would first like to group all temperatures from a given month into one row with the TMAX and TMIN columns being the averages for each month. From this we can seperate the data by month and plot each month seperately (I am aware that I can just get monthly temperature data from NWS but I'm practicing here).

In [15]:
whitestown['TIME'] = pd.to_datetime(whitestown['DATE'])
whitestown['MONTH'] = whitestown['TIME'].dt.month
whitestown['YEAR'] = whitestown['TIME'].dt.year

whitestown.groupby(['YEAR', 'MONTH']).mean()

                 TMAX       TMIN
YEAR MONTH
1901 1      37.064516  16.419355
     2      31.214286  11.357143
     3      47.387097  29.548387
     4      58.600000  35.433333
     5      69.354839  47.225806
     6      83.733333  60.300000
     7      94.064516  65.161290
     8      86.516129  59.967742
     9      78.100000  50.766667
     10     67.354839  39.870968
     11     46.533333  27.400000
     12     33.225806  16.580645
1902 1      35.322581  17.741935
     2      29.000000   7.642857
     3      51.096774  31.806452
     4      61.166667  35.766667
     5      76.967742  51.903226
     6      79.300000  55.700000
     7      86.354839  61.193548
     8      80.903226  55.967742
     9      74.900000  49.466667
     10     66.612903  42.741935
     11     56.700000  37.833333
     12     35.354839  19.193548
1903 1      32.870968  14.838710
     2      35.962963  16.740741
     3      54.967742  34.290323
     4      61.066667  38.266667
     5      76.709677  49.451613
     6      75.600000  52.066667
...               ...        ...
2016 9      80.000000  59.533333
     10     70.354839  50.387097
     11     56.200000  36.866667
     12     36.161290  22.290323
2017 1      41.774194  26.838710
     2      54.357143  31.928571
     3      52.419355  33.709677
     4      70.233333  47.066667
     5      72.612903  51.580645
     6      82.433333  60.366667
     7      83.032258  64.129032
     8      80.258065  58.838710
     9      79.800000  55.733333
     10     66.387097  48.064516
     11     53.566667  33.866667
     12     36.645161  19.193548
2018 1      34.483871  15.580645
     2      46.035714  25.857143
     3      47.000000  28.774194
     4      57.566667  35.466667
     5      82.032258  60.451613
     6      83.600000  64.233333
     7      82.516129  63.290323
     8      81.935484  62.903226
     9      78.533333  59.200000
     10     63.516129  43.741935
     11     41.733333  28.466667
     12     41.645161  26.032258
2019 1      33.225806  17.258065
     2      38.357143  22.214286

[1417 rows x 2 columns]